@import '~bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css?family=Numans');



.is-100-height {
  height: 100vh;
}

.card{
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background:black;
  color: white;
  border: 1px solid white;
}


